<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dumbways Day 12 Task</title>
    <link rel="stylesheet" href="../public/css/registerLoginContact.css">
    <link rel="stylesheet" href="../public/css/font.css">
    <link rel="stylesheet" href="../public/css/body.css">
    <link rel="stylesheet" href="../public/css/navigasi.css">
    <link rel="icon" type="image/x-icon" href="../public/favicon/favicon.ico">
</head>
<body>
    <nav>
        <div class="kotakNav">
            <div class="navLeft">
                <ul>
                    <li>
                        <a href="/"><img src="../public/img/dumbways.png" alt="Dumbways Logo" class="logo"></a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/project">My Project</a>
                    </li>
                </ul>
            </div>
        
            <div class="contact">
                <div>
                    <a href="/contact">Contact Me</a>
                </div>
            </div>
        </div>
    </nav>

    <a class="formRegister accountL" style="font-weight: 600; font-size: 1.26rem; top: 20.4px; right: 666px; letter-spacing: 1px;">Register</a>
    <a href="/form-login" class="formLogin accountR">Login</a>

    <Header>
        <h1>REGISTER YOUR ACCOUNT</h1>
    </Header>

    <form action="/register" method="POST">
        <div>
            <label>
                Name
                <input type="text" name="inputName" class="nama">
            </label>
        </div>
        <div>
            <label>
                Email
                <input type="email" name="inputEmail" class="email">
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="password" name="inputPassword" class="password">
            </label>
        </div>
        <div class="submit">
            <button>Submit</button>
        </div>
    </form>
    <!-- <script src="js/contact.js"></script>
    <script src="js/requiredForContactForm.js"></script> -->
</body>
</html>